<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/form" method="post">
    <input type="text" placeholder="Это норма" name="text"></input>
    <button>Ты оценишь</button>
    </form>
  </body>
</html>
